/* Card */
.Card {
  display: flex;
  flex-direction: column;
  padding: 0 12rem;
  margin-top: 10rem;
  margin-bottom: 5rem;
}
.back {
  display: flex;
  justify-content: space-evenly;
  padding: 0.75rem 0.65rem;
  align-items: center;
  text-decoration: none;
  margin-bottom: 3rem;
  color: white;
  background-color: rgb(40, 42, 54);
  width: 5.6rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.08rem;
  border-radius: 2rem;
  transition: all 0.3s;
}
.back:hover {
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.2);
}
.cardItems {
  display: flex;
}
.infos {
  width: 100%;
}
.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.firstColumn {
  margin-right: 2rem;
}
.flag {
  margin-right: 3rem;
}
.flag img {
  width: 30rem;
  height: 17rem;
  object-fit: cover;
  border-radius: 0.7rem;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.12);
}
.name h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.7rem;
  margin-bottom: 2rem;
}
.noBorder,
.infoValue {
  margin-left: 0.8rem;
  color: rgba(0, 0, 0, 0.6);
}
.infoItem h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
  font-weight: 450;
  margin-bottom: 0.7rem;
}

.borders {
  display: flex;
  align-items: flex-start;
}
.borders h3 {
  width: 25%;
}
.borders a {
  text-decoration: none;
}
.borderItems {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
}
.borderItems a {
  padding: 0.7rem 1.05rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
