* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.hidden {
  display: none;
}

.bgColor {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 130%;
  z-index: -1;
}

.App.darkMode .bgColor {
  background-color: rgb(35, 35, 66);
}

.App.darkMode header {
  background-color: rgb(2, 1, 29);
}
.App.darkMode footer {
  background-color: rgb(2, 1, 29);
}

.App.darkMode nav h1,
.App.darkMode .modeItem h3,
.App.darkMode .modeItem svg,
.App.darkMode .resultSelect h1,
.App.darkMode .footer h1,
.App.darkMode .name h1,
.App.darkMode .infoItem h3 {
  color: white;
}

.App.darkMode .back {
  background-color: rgb(2, 1, 29);
  border: 2px solid rgb(2, 1, 29);
}
.App.darkMode .back:hover {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.App.darkMode .noBorder,
.App.darkMode .infoValue {
  color: rgba(255, 255, 255, 0.7);
}

.App.darkMode .borderItems a {
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.App.darkMode .footer a {
  color: rgb(122, 122, 255);
}

.App.darkMode .cardItem {
  background-color: white;
}

.App.darkMode .searchInput input,
.App.darkMode .resultSelect {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  color: white;
}
.App.darkMode .searchInput input:hover {
  border: 2px solid white;
}

.App.darkMode .searchInput input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.App.darkMode .top {
  background-color: white;
}

.App.darkMode .top svg {
  color: black;
}

.top {
  position: fixed;
  bottom: -50%;
  right: 2rem;
  z-index: 3;
  background-color: black;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
}
.top.active {
  bottom: 2rem;
}
.top svg {
  color: white;
  margin-bottom: 0.1rem;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
}

@media only screen and (max-width: 1440px) {
  html {
    font-size: 13.25px;
  }
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 11.75px;
  }
}
@media only screen and (max-width: 960px) {
  html {
    font-size: 10.3px;
  }
}
@media only screen and (max-width: 960px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (min-width: 1600px) {
  html {
    font-size: 16.5px;
  }
}
@media only screen and (min-width: 1550px) {
  html {
    font-size: 17px;
  }
}

@media only screen and (min-width: 1650px) {
  html {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1750px) {
  html {
    font-size: 18.5px;
  }
}

@media only screen and (min-width: 1830px) {
  html {
    font-size: 19.3px;
  }
}

@media only screen and (min-width: 1950px) {
  html {
    font-size: 21px;
  }
}
